// Table of Contents widget

#markdown-toc {
  padding: var(--spacer-2) var(--spacer-3);
  margin-bottom: var(--spacer-2);
  border: solid var(--border-color);
  border-width: 1px 0;

  &::before {
    display: block;
    margin-left: calc(var(--spacer-3) * -1);
    content: "Contents";
    /* font-size: 85%; */
    font-weight: 500;
  }
}


// Table of Contents Page

.toc {
margin-bottom: 4em;

  li + li {
    margin-top: .25rem;
  }
}

.toc ul {
	list-style:none;
	padding-left:0;
}

.toc li {
	align-items:center;
	display:flex;
	justify-content:start;
	margin-bottom: .25rem;
}

.toc li a {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.toc li span {
	width:6rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
	text-align:right;
	margin-right:1rem;
}

.toc .yearmonth {
	margin-bottom:0;
	font-weight:normal;
	margin-top:1.5em;
	font-size:1rem;
}

