---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<div class="pagination">
	{% if page.previous.url %}
        <a class="pagination-item older" href="{{page.previous.url | relative_url }}">&laqup; Previous</a>
	{% else %}
		<span class="pagination-item older">&laqup; Previous</span>
    {% endif %}
    
    {% if page.next.url %}
        <a class="pagination-item newer" href="{{page.next.url | relative_url }}">Next &raqup;</a>
    {% else %}
    	 <span class="pagination-item newer">Next &raqup;</span>
    {% endif %}
</div>
